footer#footer
	.container
		.footer-holder 
			.contact 
				span.name Иванов Иван
				span.copy &copy; 2018. Все права защищены.
			.social 
				a(href="#") 
					i.icon-vk
				a(href="#")
					i.icon-vk
				a(href="#")
					i.icon-vk