.section-partner {
  .partners-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
  }
  @include media("≥tablet") {
    padding-top: 72px;
    padding-bottom: 100px;
  }

  .partner-logo {
    width: 50%;
    height: auto;
    padding: 0 15px;

    img {
      width: 100%;
    }

    @include media("≥tablet") {
      width: 25%;
    }
  }
}
